<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    
    <title>Bootcampc</title>
    <script src="script.js"></script>
</head>
<body>
    <header>

    </header>

    <nav>
        <ul class="navul">
            <li class="navulli"><a class="navullia" href="{{ url_for('index') }}">Inicio</a></li>
            <li class="navulli"><a class="navullia"  href=".">Hospedaje </a>
                <ul class="navsubul">
                    <li class="subnavli"><a class="subnavlia"  href="{{ url_for('habitaciones') }}">Habitaciones</a></li>
                    <li  class="subnavli"><a class="subnavlia" href="{{ url_for('apartamentos') }}"> Apartamentos</a></li>
                    <li  class="subnavli"><a class="subnavlia" href= "{{ url_for('suit') }}"> Suit</a></li>
                </ul>
            </li>
            <li class="navulli"><a class="navullia" href=".">Salas</a>
                <ul class="navsubul">
                    <li class="subnavli" ><a class="subnavlia"class="subnavlia"  href="{{ url_for('ejecutiva') }}">Ejecutiva</a></li>
                    <li class="subnavli"><a class="subnavlia" href="{{ url_for('oficina') }}"> Oficina</a></li>
                    <li class="subnavli"><a class="subnavlia" href="{{ url_for('multiple') }}"> Multiple</a></li>
                </ul> 
            </li>      
            <li class="navulli"><a class="navullia" href="{{ url_for('restaurante') }}">Restaurante</a></li>
            <li class="navulli"><a class="navullia" href="."> El Hotel </a>
                <ul class="navsubul">
                    <li class="subnavli" ><a  class="subnavlia" href="{{ url_for('historia') }}">Historia</a></li>
                    <li class="subnavli" ><a  class="subnavlia" href="{{ url_for('mision') }}"> Mision</a></li>
                    <li class="subnavli" ><a class="subnavlia" href="{{ url_for('vision') }}"> Vision</a></li>
                </ul>
            </li>
            <li class="navulli"><a class="navullia" href="{{ url_for('micuenta') }}" target="_blank"> Mi cuenta </a></li>
        </ul>
    </nav>
    <section>
       

        <div class="davpadrehabitaciones"> 
            <div class="box-carrucelhabitaciones">
                <ul>
                    <li><img src="https://media.admagazine.com/photos/63b85b0547e50dfe1e2f4993/master/w_1600%2Cc_limit/cama-de-hotel-colch%25C3%25B3n.jpg" alt="HOTEL">     
                    </li>
                    <li ><img src="https://media.admagazine.com/photos/63b8643347e50dfe1e2f4997/master/w_1600%2Cc_limit/cama-de-hotel-cabecero.jpg" alt="piscina">     
                    </li>
                    <li ><img src="https://images.unsplash.com/photo-1702675301342-cac2dc3ef15a?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FtYSUyMGRlJTIwaG90ZWx8ZW58MHx8MHx8fDA%3D" alt="study">     
                    </li>
                    <li ><img  src="https://media.admagazine.com/photos/63b8643347e50dfe1e2f4997/master/w_1600%2Cc_limit/cama-de-hotel-cabecero.jpg">     
                    </li>        
                    <li c><img src="https://media.admagazine.com/photos/63b85b0547e50dfe1e2f4993/master/w_1600%2Cc_limit/cama-de-hotel-colch%25C3%25B3n.jpg" alt="camas">     
                    </li>
                </ul>  
            </div>
            <div class="box-carrucelhabitacionesp">
                <h1>Descanso Perfecto</h1>
                <p class="parrafohabitaciones"> 
                    Sumérgete en una experiencia única de alojamiento en nuestros elegantes apartamentos, diseñados para ofrecerte el máximo confort y tranquilidad. Cada apartamento cuenta con una decoración sofisticada y moderna, combinando muebles de alta calidad con detalles que evocan la esencia de la cultura local.Los apartamentos del hotel están pensados para satisfacer las necesidades de todos nuestros huéspedes.
                </p> 
            </div>
            <div class="box-carrucelhabitacionestres">
                <ul>
                    <li><img src="https://umbral.co/wp-content/uploads/2024/01/DSC6708.jpg" alt="HOTEL">     
                    </li>
                    <li ><img src="https://centrosur.co/wp-content/gallery/vivenza-apto-modelo-nuevo/proyecto-de-vivienda-copacabana-vivenza3.jpg" alt="piscina">     
                    </li>
                    <li ><img src="https://centrosur.co/wp-content/gallery/vivenza-apto-modelo-nuevo/proyecto-de-vivienda-copacabana-vivenza5.jpg" alt="study">     
                    </li>
                    <li ><img  src="https://centrosur.co/wp-content/gallery/vibratto-apto-modelo/apartamento-copacabana-vibratto-sala-de-estar.jpg" alt="HOTEL">     
                    </li>        
                    <li c><img src="https://urbansa.co/wp-content/uploads/2021/12/hacienda-lagos-card.jpg" alt="camas">     
                    </li>
                </ul>  
            </div>
        </div>

        <p class="parrafo-contacto">Contactanos para  mas informacion y has tu reserva</p>
        
    </section>
    <a href="https://api.whatsapp.com/send?phone=T.." class="btn-wsp" target="_blank"> <img  class="btn-wspi" src="/static/imagenes/whatsapp-line.png" alt="wha"></a>
	
    <footer>
        <p>&copy; 2024 Mi Página Web. Todos los derechos reservados.</p>
    </footer>
</body>
</html>