<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    
    <title>Bootcampc</title>
    <script src="script.js"></script>
</head>
<body>
    <header>
    </header>

    <nav>
        <ul class="navul">
            <li class="navulli"><a class="navullia" href="{{ url_for('index') }}">Inicio</a></li>
            <li class="navulli"><a class="navullia"  href=".">Hospedaje </a>
                <ul class="navsubul">
                    <li class="subnavli"><a class="subnavlia"  href="{{ url_for('habitaciones') }}">Habitaciones</a></li>
                    <li  class="subnavli"><a class="subnavlia" href="{{ url_for('apartamentos') }}"> Apartamentos</a></li>
                    <li  class="subnavli"><a class="subnavlia" href= "{{ url_for('suit') }}"> Suit</a></li>
                </ul>
            </li>
            <li class="navulli"><a class="navullia" href=".">Salas</a>
                <ul class="navsubul">
                    <li class="subnavli" ><a class="subnavlia"class="subnavlia"  href="{{ url_for('ejecutiva') }}">Ejecutiva</a></li>
                    <li class="subnavli"><a class="subnavlia" href="{{ url_for('oficina') }}"> Oficina</a></li>
                    <li class="subnavli"><a class="subnavlia" href="{{ url_for('multiple') }}"> Multiple</a></li>
                </ul> 
            </li>      
            <li class="navulli"><a class="navullia" href="{{ url_for('restaurante') }}">Restaurante</a></li>
            <li class="navulli"><a class="navullia" href="."> El Hotel </a>
                <ul class="navsubul">
                    <li class="subnavli" ><a  class="subnavlia" href="{{ url_for('historia') }}">Historia</a></li>
                    <li class="subnavli" ><a  class="subnavlia" href="{{ url_for('mision') }}"> Mision</a></li>
                    <li class="subnavli" ><a class="subnavlia" href="{{ url_for('vision') }}"> Vision</a></li>
                </ul>
            </li>
            <li class="navulli"><a class="navullia" href="{{ url_for('micuenta') }}" target="_blank"> Mi cuenta </a></li>
        </ul>
    </nav>
    <section class="seccion-principal">
        <h1>Bienvenidos a la sala ejecutiva</h1>
        
        <p class="parrafo-sala">Aproveche la oportunidad de participar en reuniones de alto nivel en nuestra sala ejecutiva, un espacio diseñado específicamente para fomentar la colaboración y el intercambio de ideas estratégicas. Aquí, podrá presentar su negocio de manera profesional, respaldado por un equipo logístico altamente capacitado que se encargará de todos los aspectos operativos. Nuestro personal está disponible para facilitar la organización y la gestión de su evento, asegurando que cada detalle se maneje con la máxima eficiencia. Además, le ofrecemos acceso a tecnología avanzada y recursos que potenciarán su presentación y promoverán un entorno productivo. Su éxito es nuestra prioridad, y estamos comprometidos a proporcionarle el apoyo necesario para que su reunión sea un hito significativo en su trayectoria empresarial.</p>
        
        <video autoplay muted> 
            <source src="/static/videos/reuniones2.mp4" type="video/mp4"> Tu navegador no soporta el elemento de video. 
        </video>

        <p>Contactanos para  mas informacion y has tu reserva</p> 
            
    </section>
    <a href="https://api.whatsapp.com/send?phone=T.." class="btn-wsp" target="_blank"> <img  class="btn-wspi" src="/static/imagenes/whatsapp-line.png" alt="wha"></a>
	
    <footer>
        <p>&copy; 2024 Mi Página Web. Todos los derechos reservados.</p>
    </footer>
</body>
</html>