<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    
    <title>Bootcampc</title>
    <script src="script.js"></script>
</head>
<body>
    <header>

    </header>

    <nav>
        <ul class="navul">
            <li class="navulli"><a class="navullia" href="{{ url_for('index') }}">Inicio</a></li>
            <li class="navulli"><a class="navullia"  href=".">Hospedaje </a>
                <ul class="navsubul">
                    <li class="subnavli"><a class="subnavlia"  href="{{ url_for('habitaciones') }}">Habitaciones</a></li>
                    <li  class="subnavli"><a class="subnavlia" href="{{ url_for('apartamentos') }}"> Apartamentos</a></li>
                    <li  class="subnavli"><a class="subnavlia" href= "{{ url_for('suit') }}"> Suit</a></li>
                </ul>
            </li>
            <li class="navulli"><a class="navullia" href=".">Salas</a>
                <ul class="navsubul">
                    <li class="subnavli" ><a class="subnavlia"class="subnavlia"  href="{{ url_for('ejecutiva') }}">Ejecutiva</a></li>
                    <li class="subnavli"><a class="subnavlia" href="{{ url_for('oficina') }}"> Oficina</a></li>
                    <li class="subnavli"><a class="subnavlia" href="{{ url_for('multiple') }}"> Multiple</a></li>
                </ul> 
            </li>      
            <li class="navulli"><a class="navullia" href="{{ url_for('restaurante') }}">Restaurante</a></li>
            <li class="navulli"><a class="navullia" href="."> El Hotel </a>
                <ul class="navsubul">
                    <li class="subnavli" ><a  class="subnavlia" href="{{ url_for('historia') }}">Historia</a></li>
                    <li class="subnavli" ><a  class="subnavlia" href="{{ url_for('mision') }}"> Mision</a></li>
                    <li class="subnavli" ><a class="subnavlia" href="{{ url_for('vision') }}"> Vision</a></li>
                </ul>
            </li>
            <li class="navulli"><a class="navullia" href="{{ url_for('micuenta') }}" target="_blank"> Mi cuenta </a></li>
        </ul>
    </nav>
    <section class="seccion-principal">
        <h1>Tu Oficina en el Hotel</h1>
        
        <p class="parrafo-sala"> Le ofrecemos un entorno de trabajo diseñado para replicar la comodidad y funcionalidad de su hogar u oficina, lo que le permite concentrarse en sus tareas con la misma eficacia que si estuviera en su propio espacio. Este ambiente está equipado con todas las herramientas necesarias para facilitar su productividad, incluyendo acceso a tecnología avanzada y áreas de trabajo colaborativas.Además, nuestra infraestructura le permite recibir visitas de manera personalizada, lo que contribuye a establecer relaciones más cercanas y efectivas con sus clientes y socios comerciales.</p>

        <video autoplay muted> 
            <source src="/static/videos/oficina1.mp4" type="video/mp4"> Tu navegador no soporta el elemento de video. 
        </video>
            
        <p>Contactanos para  mas informacion y has tu reserva<p> 

    </section>
    <a href="https://api.whatsapp.com/send?phone=T.." class="btn-wsp" target="_blank"> <img  class="btn-wspi" src="/static/imagenes/whatsapp-line.png" alt="wha"></a>
	
    <footer>
        <p>&copy; 2024 Mi Página Web. Todos los derechos reservados.</p>
    </footer>
</body>
</html>